.blogsParent {
  margin-left: calc(var(--nav-menu-width) + 50px);
  margin-top: 1em;
}

.blogsContainer {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .blogsParent {
    margin-left: 75px;
  }
}
