.container {
  display: flex;
  flex: wrap;
  width: 400;
  margin: 0px;
  top: 50%;
  justify-content: center;
  position: relative;
}

.loadSpinner {
  justify-content: center;
  position: relative;
}

.loginBtn {
  margin-top: 16px;
  flex-grow: 1;
}

.header {
  text-align: center;
  background: #212121;
  color: #fff;
}

.card {
  margin-top: 200px;
}
