.dashboardParent {
  width: 60%;
  margin-left: 5vw;
  margin-top: 1em;
}

.dashboard {
  display: flex;
  margin-left: var(--nav-menu-width);
}

@media only screen and (max-width: 768px) {
  .dashboard {
    margin-left: 0;
  }
}
