.formParent {
  width: 70%;
  margin-left: 15%;
  margin-top: 1em;
}

.uploadStatus {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
}
