.formParent {
  width: 70%;
  margin-left: 15vw;
  margin-top: 1em;
  max-width: 1000px;
}

.uploadStatus {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .formParent {
    margin-left: 8vw;
  }
}
