.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 100px;
}

.userName {
  color: white;
}

.sidenav .sidenav-contents {
  margin-left: 1em;
  margin-top: 1em;
}

.sidenav .sidenav-contents ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: blue;
} /* Unvisited link  */
a:visited {
  color: blue;
} /* Visited link    */
a:hover {
  color: blue;
} /* Mouse over link */
a:active {
  color: blue;
} /* Selected link   */
